.skill {
  margin: 0;
  padding: 0;
  background: var(--beige);
  display: block;
  border-radius: 50px;
}

.text {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  color: var(--maroon);
}
