:root {
  --maroon: #7d0a0a;
  --red: #bf3131;
  --beige: #ead196;
  --yellow: #f3edc8;
  --yellow-background: hsl(52, 64%, 92.5%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  background: var(--yellow-background);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 1200px) {
  body {
    width: 65%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
